/* Change the default margins of the website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: calc(100vh - 97px - 68px);
}
/* Give your page a fun background color */
body {
    background-color: cornflowerblue;
}
/* Make the header and footer a different color from the background */
.header-footer {
    background-color: black;
    color: white;
    outline: 5px solid white;
}

header {
    padding: 30px;
}

footer {
    padding: 25px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
}
/* Put a border around your image */
img {
    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 45%;
    outline: 5px solid red;
    margin: 30px auto 30px 30px;
}

ul {
    margin-left: 10px;

}
/* Change the font-family of your list */
li {
    font-family: Verdana, sans-serif;
}

.sublist {
    margin-left: 30px;
    list-style-type: square;
}

#list-profile {
    margin-bottom: 41px;
}