/* Give your page a fun background color */
body {
    background-color: cornflowerblue;
}
/* Make the header and footer a different color from the background */
.header-footer {
    background-color: black;
    color: white;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
}
/* Put a border around your image */
img {
    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 45%;
    outline: 5px solid red;
}
/* Change the font-family of your list */
li {
    font-family: Verdana, sans-serif;
}